body {
    padding: 40px 44px;
}
.title-page{
    margin-top: 50px;
    font-size: 40px;
    color:#404040;
}
.content-cards{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
}
.card-product{
width: 450px;
height: 600px;
background: #FFFFFF;
border: 1px solid #E6E7EC;
box-sizing: border-box;
box-shadow: 0px 4px 18px -13px #223456;
border-radius: 5px;
align-items: center;
padding: 10px;


}
.image{
    margin-left: 55px;
    width: 300px;
    height: 250px;
}
.title{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
.description{
    margin:  10px 0;
    font-size: 20px;
}
.price{
    font-size: 30px;
    color:#404040;
    font-weight: bold;
    margin: auto 20px auto;
}
.see-more{
    text-decoration: none;
    margin-left: 320px;
    margin-bottom: 10px;
    font-size: 20px;
}
  
  